<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are You Hungry!</em><h6>
                <h1 class="text-4xl">Don't Wait</h1>
                <button class="btn-orderNow rounded-full py-2 px-6 font-bold mt-4 ">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt=""/>
        </div>
        </div>
    </section>

        <section class="menu container mx-auto">
            <h1 class="text-lg font-bold mb-6">All Pizza</h1>
            <div class="grid grid-cols-4 col-gap-16 row-gap-16">
     <% menus.forEach(function(menu){ %>
    <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt=""/>
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= menu.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= menu.size %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg py-1">$ <%= menu.price %></span>
                    <button data-pizza="<%= JSON.stringify(menu)%>" class="addtocart py-1 px-4 flex items-center rounded-full">
                        <span>+</span>
                        <span class="ml-1">Add</span>
                    </button>
                </div>
            </div>
          </div>
    <%})%>
                                        
          </div>>

        </section>